html, body {
	font-family: $font-family-sans-serif;
	width: 100%;
	height: 100%;
	line-height: $line-height-base;
	color: $dark-text;
}

// navbar, menu, list
.cm-navbar {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 62px;
	overflow: hidden;
	background-color: $main-color;
	box-shadow: $shadow;
}
.cm-svg-image {
	height: 100%;
	width: 100%;
	fill: $light-color;

	&:active {
		background-color: $main-color;
	}
}
.cm-menu {
	display: flex;
}

.cm-list {
	display: flex;
	width: 100%;
	height: 100%;
	&--horizontal {
		justify-content: row;
	}
	&--vertical {
		justify-content: column;
	}
	&__cm-item {
		display: flex;
		justify-content: center;
		align-items: center;		
		padding: 4px;
		&:hover {
			background-color: $aditional-color;
		}
		&--mobile {
			display: none;
		}	
	}
}

.cm-link {
	color: $light-text;
	text-decoration: none;
}

// content, banner

.cm-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.cm-container {
	width: 100%;
	display: flex;
	order: 2;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	// padding: $padding-base;
	&__cm-video {
		padding: $padding-base;
	}
	&--fullscreen {
		height: 100vh;
	}
	&--opaque {
		background-color: $light-color;
	}
	&__cm-image {
		padding: $padding-base;
	}
	&__cm-infoblock {
		padding: $padding-base;
	}
	&--vertical {
		flex-direction: column;
		align-items: center;
	}
	& > * {
		flex: 1;
	}
}

#cm-background-image {
	position: fixed;
	z-index: -99999;
}

.cm-image {
	object-fit: contain;
	&--blur {
		filter: blur(4px);
	}
	&--fixed {
		position: fixed;
	}
}

.cm-infoblock {
	display: flex;
	flex-direction: column;
	&--center {
		align-items: center;
	}
	&__cm-header {
		margin-bottom: 8px;
	}
	&__cm-text {
		margin-bottom: 8px;
	}
}
.cm-form {

}
.cm-header {
	font-size: $font-size-header;
	weight: 900;
	&--light {
		color: $light-text;
	}
}

.cm-text {
	font-size: $font-size-base;
	&--light {
		color: $light-text;
	}
}

.cm-video {
	height: 320px;
	text-decoration: none;
	outline: none;
	&__cm-source {
		width: 100%;
		height: 100%;
	}
}

.cm-button {
	width: 228px;
	height: 42px;
	font-size: $font-size-base;
	text-decoration: none;
	border-radius: 6px;
	outline: none;
	&--light {
		border: none;
		color: $light-text;
		background-color: $aditional-color;
		text-decoration: none;
		&:hover {
			border: solid 1px;
			color: $aditional-color;
			border-color: $aditional-color;
			background-color: transparent;
		}
	}

	&--dark {
		border: none;
		color: $light-text;
		background-color: $main-color;
	}

	&--transparent {
		border: solid 1px;
		color: $aditional-color;
		border-color: $aditional-color;
		background-color: transparent;
		&:hover {
			border: none;
			color: $light-text;
			background-color: $aditional-color;
			text-decoration: none;
		}
	}
}

.cm-field-input {
	width:320px;
	height: 40px;
	text-decoration: none;
	border-radius: 6px;
	padding-left: 4px;
	padding-right: 4px;
	border: none;
	outline: none;
	font-size: $font-size-base;
}

.cm-separation-line {
	color: $aditional-color;
    background-color:$aditional-color;
    border: 0px none;
    height: 1px;
    clear: both;
}

.cm-footer {
	width: 100%;
	background-color: $main-color;
	display: flex;
	flex-direction: row;
}

/* Large desktops and laptops */
// @media (min-width: 1200px) {

// 	.cm-container > * {
// 		flex: 1;
// 	}
	
// }

/* Portrait tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1199px) {
// 	.container > * {
// 		flex: 1;
// 	}	
// }

/* Portrait tablets and small desktops */
// @media (min-width: 768px) and (max-width: 991px) {
// 	.cm-navbar {

// 	}

// 	.cm-infoblock {
// 		text-align: center;	
// 	}

// 	.cm-video {
// 		display: none;
// 	}
	
// 	.cm-container {
// 		flex-direction: column;
// 	}
// }

/* Landscape phones and portrait tablets */
// @media (max-width: 767px) {
// }

/* Landscape phones and smaller  480*/ 
// @media (max-width: 767px) {
// 	.cm-navbar {
// 		margin-top: calc(100vh - 62px);
// 	}
// 	.cm-menu {
// 		width: 100%;
// 		justify-content: space-between;
// 		align-items: center;
// 		&__cm-list {
// 			padding: $padding-base;
// 		}
// 	}
// 	.cm-list {
// 		justify-content: space-around;
// 		&__cm-item {
// 			display: none;
// 			&--mobile {
// 				display: flex;
// 				&:hover {
// 					background-color: $main-color;
// 				}
// 			}
// 		}
// 	}

// 	.cm-infoblock {
// 		text-align: center;	
// 	}

// 	.cm-video {
// 		display: none;
// 	}
// 	.cm-banner {
// 		flex-direction: column;
// 	}
// 	.cm-container {
// 		flex-direction: column;
// 	}
// }