// Fonts
@font-face {
    font-family: 'OpenSans';
    src: url('./public/fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

// Typography
$font-family-sans-serif: 'OpenSans',
sans-serif;
$font-size-base: 0.875rem; // 0.875rem = 14px; 0.75rem = 12px; 1rem = 16px;
// $body-bg: #F8F9FA;