// Fonts
@font-face {
    font-family: 'OpenSans';
    src: url('./public/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Typography
$font-family-sans-serif: 'OpenSans',
sans-serif;
$body-bg: #F8F9FA;