.cm-auto-size-image {
    object-fit: contain;
}

.cm-image-wrapper {
    display: flex;
    width: 100%;
    max-height: 50vh !important;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.cm-svg-on-hover>line:hover {
    stroke: $warning;
}

@media (max-width: 576px) {
    .cm-navbar {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1703;
    }
    .cm-footer {
        padding-bottom: 60px;
    }
}