@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// for font
$default-font-size: 16px;
$header-font-size: 26px;
$default-line-weight: 1.2em;
$default-font-family: 'Open Sans', sans-serif;

// colors
$base-color: #16558C;
$secondary-color: #36B1BF;
$base-light-color: white;
// $base-dark-color: black;
// $secondary-light-color: gray;
// $secondary-dark-color: black;

// /* Color Theme Swatches in Hex */

// $Azules-1-hex: #0A2459;
// $Azules-2-hex: #0D2F73;
// $Azules-3-hex: #16558C;
// $Azules-4-hex: #147CA6;
// $Azules-5-hex: #36B1BF;

// /* Color Theme Swatches in RGBA */
// $Azules-1-rgba: rgba(10,36,89, 1);
// $Azules-2-rgba: rgba(13,47,115, 1);
// $Azules-3-rgba: rgba(22,85,140, 1);
// $Azules-4-rgba: rgba(20,124,166, 1);
// $Azules-5-rgba: rgba(54,177,191, 1);

// /* Color Theme Swatches in HSLA */
// $Azules-1-hsla: hsla(220, 79, 19, 1);
// $Azules-2-hsla: hsla(219, 79, 25, 1);
// $Azules-3-hsla: hsla(207, 72, 31, 1);
// $Azules-4-hsla: hsla(197, 78, 36, 1);
// $Azules-5-hsla: hsla(186, 55, 48, 1);
