@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  line-height: 1.2em;
  color: #021526;
}

.cm-navbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 62px;
  overflow: hidden;
  background-color: #021526;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cm-svg-image {
  height: 100%;
  width: 100%;
  fill: #ffffff;
}

.cm-svg-image:active {
  background-color: #021526;
}

.cm-menu {
  display: -webkit-box;
  display: flex;
}

.cm-list {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
}

.cm-list--horizontal {
  -webkit-box-pack: row;
          justify-content: row;
}

.cm-list--vertical {
  -webkit-box-pack: column;
          justify-content: column;
}

.cm-list__cm-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 4px;
}

.cm-list__cm-item:hover {
  background-color: #657D8C;
}

.cm-list__cm-item--mobile {
  display: none;
}

.cm-link {
  color: #ffffff;
  text-decoration: none;
}

.cm-content {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: hidden;
}

.cm-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-ordinal-group: 3;
          order: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.cm-container__cm-video {
  padding: 4%;
}

.cm-container--fullscreen {
  height: 100vh;
}

.cm-container--opaque {
  background-color: #ffffff;
}

.cm-container__cm-image {
  padding: 4%;
}

.cm-container__cm-infoblock {
  padding: 4%;
}

.cm-container--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.cm-container > * {
  -webkit-box-flex: 1;
          flex: 1;
}

#cm-background-image {
  position: fixed;
  z-index: -99999;
}

.cm-image {
  -o-object-fit: contain;
     object-fit: contain;
}

.cm-image--blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.cm-image--fixed {
  position: fixed;
}

.cm-infoblock {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.cm-infoblock--center {
  -webkit-box-align: center;
          align-items: center;
}

.cm-infoblock__cm-header {
  margin-bottom: 8px;
}

.cm-infoblock__cm-text {
  margin-bottom: 8px;
}

.cm-header {
  font-size: 24px;
  weight: 900;
}

.cm-header--light {
  color: #ffffff;
}

.cm-text {
  font-size: 13px;
}

.cm-text--light {
  color: #ffffff;
}

.cm-video {
  height: 320px;
  text-decoration: none;
  outline: none;
}

.cm-video__cm-source {
  width: 100%;
  height: 100%;
}

.cm-button {
  width: 228px;
  height: 42px;
  font-size: 13px;
  text-decoration: none;
  border-radius: 6px;
  outline: none;
}

.cm-button--light {
  border: none;
  color: #ffffff;
  background-color: #657D8C;
  text-decoration: none;
}

.cm-button--light:hover {
  border: solid 1px;
  color: #657D8C;
  border-color: #657D8C;
  background-color: transparent;
}

.cm-button--dark {
  border: none;
  color: #ffffff;
  background-color: #021526;
}

.cm-button--transparent {
  border: solid 1px;
  color: #657D8C;
  border-color: #657D8C;
  background-color: transparent;
}

.cm-button--transparent:hover {
  border: none;
  color: #ffffff;
  background-color: #657D8C;
  text-decoration: none;
}

.cm-field-input {
  width: 320px;
  height: 40px;
  text-decoration: none;
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  outline: none;
  font-size: 13px;
}

.cm-separation-line {
  color: #657D8C;
  background-color: #657D8C;
  border: 0px none;
  height: 1px;
  clear: both;
}

.cm-footer {
  width: 100%;
  background-color: #021526;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

/* Large desktops and laptops */

/* Portrait tablets and medium desktops */

/* Portrait tablets and small desktops */

/* Landscape phones and portrait tablets */

/* Landscape phones and smaller  480*/

